@import './typography.css';

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground text-body;
  }

  ul,
  ol {
    @apply text-list;
  }

  button {
    @apply cursor-pointer;
  }
}
