@import 'tailwindcss';
@import './theme.css';
@import './typography.css';
@import './utils.css';
@import './base.css';
@import 'tw-animate-css';

body {
  font-family: 'Roboto', sans-serif;
  @apply bg-secondary;
}
